

.cardContent img {
    max-height: 300px;
    border: 10px #bbb2e9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.cardContent div {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cardContent p {
    padding: 15px;
    display: flex;
    align-items: center;
}

.imageWrapper {
    display: flex;
    align-items: center;
}

.card {
    margin-top: 10px;
    border-bottom: 5px double var(--primaryaccent);
}
.projectlinks {
    background-color: #bbb2e9;
    border-radius: 10px;
}
.deployed {
    text-decoration: none;
}